<h2>The Track is: <%= @track.name %></h2>

	<ul class= "track-list">
		<% @track.presentations.each do |presentation| %>
			<li><%= link_to "#{presentation.name}", presentation_path(presentation)%></li>
		<% end %>	
</ul>

<div class= "track-form">
	<%= form_for(Presentation.new, remote: true) do |f| %>
			<%= f.text_field :name, class: "form-control", placeholder: "name" %>
			<%= f.hidden_field :track_id, value: @track.id %>
			<button type="submit" class="button button-large button-highlight">New Event</button>
	<%end%> 
</div>