<h2>Current Tracks for <%= @event.name %></h2>
<p>A track is a time slot for a series of presentations.</br>
<em>i.e. Sponsor Morning Presentations</em></p>

<div class="tracks">
	<ul class= "track-list">
		<% @event.tracks.each do |track| %>
			<li><%= link_to "#{track.name}", track_path(track)%></li>
		<% end %>	
</ul>
</div>

<h2>Create a New Track:</h2>

<div class= "track-form">
	<%= form_for(Track.new, remote: true, id: "event-#{@event.id}") do |f| %>
			<%= f.text_field :name, class: "form-control", placeholder: "name" %>

<!-- 			<input type="textbox"  class="form-control" name="name" placeholder="Name">
			<input type="textbox"  class="form-control" name="start_time" placeholder="Phone">
			<input type="textbox"  class="form-control" name="end_time" placeholder="Url 1">
			<input type="textbox"  class="form-control" name="url2" placeholder="Url 2">
			<input type="textbox"  class="form-control" name="location_name" placeholder="Location Name">
			<input type="textbox" class="form-control" name="street" placeholder="Street">
			<input type="textbox" class="form-control" name="street_number" placeholder="Street Number">
			<input type="textbox" class="form-control" name="city" placeholder="City">
			<input type="textbox" class="form-control" name="state" placeholder="State">
			<input type="textbox" class="form-control" name="zip" placeholder="Zip">
			<input type="textbox" class="form-control" name="country" placeholder="Country">
			<input type="hidden" id="event-id" name="event_id" value=#{@event.id} /> -->
			<%= f.hidden_field :event_id, value: @event.id %>
			<br>
			<button type="submit" class="button button-large button-highlight">New Event</button>
	<%end%>
	<br>
</div>